i {
  vertical-align: top;
}

#url-input {
  font-size: 1em;
  padding: 12px 20px;
  display: inline-block;
  border: 2px inset #ccc;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  margin: 2px;
}

button {
  background-color: #2196f3;
  vertical-align: bottom;
  color: white;
  padding: 11px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #1e88e5;
}

.hidden {
  display: none;
}

#target {
  line-height: 46px;
}

#copy-input {
  position: absolute;
  left: -10000px;
}

#url-form {
  margin-bottom: 2rem;
}
