* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #ffffff;
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Trebuchet MS", "Times New Roman", serif;
  text-align: center;
  font-size: 3.5em;
  color: black;
  margin: 0;
}

main {
  position: absolute;
  max-width: 80vw;
  min-width: ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 2em 10%;
}

a {
  color: #b71c1c;
}

a:hover {
  text-decoration: none;
  color: black;
}
