* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 2em;
  background-color: #ffffff;
}

h1 {
  font-family: Impact, "Trebuchet MS", "Times New Roman", serif;
  text-align: center;
  font-size: 3.5em;
  color: #2196f3;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

footer {
  position: fixed;
  bottom: 0;
  margin: 2em 10%;
}

a {
  color: #b71c1c;
}

a:hover {
  text-decoration: none;
  color: black;
}